/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    margin: 40px 80px 40px 80px
}

h1 , h2 , h3 , h4 {
    font-family: 'Bangers', sans-serif;
}

button , p , address , nav , footer {
   font-family: 'Titillium Web', sans-serif;
}

h2, h3, h4 {
    font-size: 18px;
}

.container {
    width: 100%;
    margin: 0 0 0 0;
    box-sizing: content-box;
}


.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    padding-top: 5px;
}

.nav-a {
    margin: 0 50px 0 50px;
}
.nav-a a {
    color: gray;
    text-decoration: none;
}
@media (max-width: 800px) {
    .nav-container {
        flex-direction: column-reverse;
        justify-content: center;
    }
    nav {
        justify-content: center;
    }
    .nav-a {
        margin: 10px 20px 10px 20px;
    }
}
@media (max-width: 500px) {
    body {
        margin: 5px 5px 5px 5px;
    }
    nav {
        flex-direction: column;
        width: 200%;
    }
    .nav-a {
        border-top: 1px solid black;
        margin: 0;
        padding: 15px 0 15px 0;
        display: flex;
        justify-content: center;
    }
    .last-box {
        border-bottom: 1px solid black;
    }
}



.hero {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
}
.hero-h1 , .hero-image {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    top: 0;
    bottom: 0; 
    padding-left: 40px;
}
.hero-h1 {
    height: 100%;
}
.h1-content {
    margin-top: 100px;
    box-sizing: border-box;
    height: 75%;
    text-align: center;
    font-size: 60px
}
.hero-button {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px 30% 10px 30%;
    font-size: 20px;
    padding: 0px 30px 0px 30px;

}

.hero-image {
    margin: 0;
    float: right;
    height: 100%;
}

@media(max-width: 800px) {
    .hero {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .hero-h1 , .hero-button {
        display: flex;
        justify-content: center;
        padding: 0 0 0 0;
        text-align: center;
    }
    .hero-image {
        display: none;
    }
    .hero-button {

    }
}
@media(max-width: 500px){
    .hero {
        height: 300px;
    }
    .hero-h1 {
        margin-top: 0;
        align-content: center;
        justify-content: center;
    }
    .h1-content {
        margin: 0;
        align-content: center;
        padding: 30px 0 30px 0;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    border-top: 1.5px solid black;    
}

.features , .about { 
    width: 48%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.features {
    padding-right: 5px
}

p {
    font-size: 15px;
    line-height: 15px;
}
.middle-img {
    display: flex;
    justify-content: center;
}

@media(max-width: 500px) {
    .info {
        flex-direction: column;
        margin: 0;
    }
    .features , .about {
        width: 90%;
        padding: 0;
        justify-content: center;
    }
}

.more-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1.5px solid black;

}

.services , .product , .vision {
    display: inline-block;
    width: 30%;
    margin-bottom: 30px;
    margin-left: 10px;
}

.footer {
    line-break: 0px;
    font-size: 12px;

}

footer {
    text-align: center;
    font-size: 10px;
}

.services-hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.services-header-img {
    margin-bottom: 30px;
}

.info-boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 40px 0 40px 0;
}

.info-box {
    width: 48%;
    border: 1px solid black;
    background: lightgray;
    padding: 20px 10px 20px 10px;
    margin: 10px 0 10px 0;
}

.info-box button {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    font-size: 12px;
}

.services-bottom {
    display: flex;
    justify-content: space-evenly;

}
.services-bottom img {
    margin-left: 30px;
}


